.breadcrumb-item span {
    color: var(--bs-link-color);
    cursor: pointer;
}

.file-item {
    height: 120px;
    display: inline-block;
    margin: 0 15px 15px 0;
    text-align: center;
    vertical-align: top;
    cursor: pointer;
}

.file-item img {
    max-height: 100%;
    opacity: 0.8;
}

.file-item img:hover {
    opacity: 1;
}

.file-item .bi-file:hover {
    background-color: var(--bs-tertiary-bg);
}

.file-item .bi-file {
    font-size: 2rem;
}

.file-item .bi-folder {
    font-size: 3rem;
}
